#wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#list {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

td:nth-last-child(2) {
    border-left: 1px solid lightgray;
}

td:last-child {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}


th:last-child {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#button {
    margin: 20px;
}