#wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
}
.twocolumn {
    text-align: center;
}

#list {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

td:nth-last-child(2) {
    border-left: 1px solid lightgray;
}

td:last-child {
    border-right: 1px solid lightgray;
}


th:last-child {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#button {
    margin-top: 5px;
    margin-bottom: 10px;
}

.error {
    margin-top: 3px;
}