<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add a title</title>

    <link rel="stylesheet" href="/globalstyles.css/"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Song database app</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/index">Home page</a>
            <a class="mdl-navigation__link" href="/genrelist">Genres</a>
            <a class="mdl-navigation__link" href="/songlist">Songs</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

            <div id="wrapper">

                <h3>Add a title</h3>

                <form th:object="${song}" th:action="@{savesong}" action="#" method="post">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="title" class="mdl-textfield__label">Title</label><input
                            class="mdl-textfield__input" type="text" id="title" th:field="*{name}">
                    </div>
                    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Song name error</div>


                    <br>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="artist" class="mdl-textfield__label">Artist</label><input
                            class="mdl-textfield__input" type="text" id="artist" th:field="*{artist}">
                    </div>
                    <div class="error" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">Artist name error</div>


                    <br>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="album" class="mdl-textfield__label">Album</label><input
                            class="mdl-textfield__input" type="text" id="album" th:field="*{album}">
                    </div>
                    <div class="error" th:if="${#fields.hasErrors('album')}" th:errors="*{album}">Album name error</div>

                    <br>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select id="genre" th:field="*{genre}" class="mdl-textfield__input">
                            <option value=""></option>
                            <option th:each="mainGenre : ${genres}"
                                    th:value="${mainGenre.genreId}"
                                    th:text="${mainGenre.genreName}"></option>
                        </select>
                        <label for="genre" class="mdl-textfield__label">Choose the genre</label>
                    </div>
                    <div class="error" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Song name error</div>

                    <br>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select id="subgenre" th:field="*{subgenre}" class="mdl-textfield__input">
                            <option value=""></option>
                        </select>
                        <label for="subgenre" class="mdl-textfield__label">Choose the subgenre (optional)</label>
                    </div>

                    <br>

                    <button id="button" type="submit"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Save the title
                    </button>

                </form>

                <a id="button" href="/songlist"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Cancel</a>

            </div>

        </div>
    </main>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    let genres = /*[[${genres}]]*/ 'genres';
    let subgenres = /*[[${subgenres}]]*/ 'genres';

    console.log("Found genres: ");
    console.log(genres);
    console.log("Found subgenres: ");
    console.log(subgenres);

    let selectSubgenreElement = $('#subgenre');

    function filtersubgenre() {
        var selectedGenre = $("select#genre").children("option:selected").val();
        console.log("Genre currently selected: " + selectedGenre);

        selectSubgenreElement.find('option').not(':first').remove();

        for (let o = 0; o < subgenres.length; o++) {
            var subgenreparentId = subgenres[o].mainGenre.genreId;

            if (subgenreparentId == selectedGenre) {
                console.log("Main genre matched with these subgenres: " + subgenres[o].subgenreName);
                selectSubgenreElement.append($('<option></option>').val(subgenres[o].subgenreId).html(subgenres[o].subgenreName));
            }
        }
    }

    $(filtersubgenre);

    $("select#genre").change(filtersubgenre);

    /*]]>*/

</script>
</html>