<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add a title</title>

    <link rel="stylesheet" href="/globalstyles.css/"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>

<div id="wrapper">

    <h3>Add a title</h3>

    <form th:object="${song}" th:action="@{savesong}" action="#" method="post">

        <div>
        <label for="title">Title</label><input type="text" id="title" th:field="*{name}">
        </div>

        <div>
        <label for="artist">Artist</label><input type="text" id="artist" th:field="*{artist}">
        </div>

        <div>
        <label for="album">Album</label><input type="text" id="album" th:field="*{album}">
        </div>

        <div>
            <select id="genre" th:field="*{genre}">
                <option value="">Choose the genre</option>
                <option th:each="mainGenre : ${genres}"
                        th:value="${mainGenre.genreId}"
                        th:text="${mainGenre.genreName}"></option>
            </select>
            <label for="genre">Genre</label>
        </div>

        <div>
            <select id="subgenre" th:field="*{subgenre}">
                <option value="">Choose the subgenre</option>
            </select>
            <label for="subgenre">Subgenre</label>
        </div>

        <button type="submit">Save the title</button>

    </form>

</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    let genres = /*[[${genres}]]*/ 'genres';
    let subgenres = /*[[${subgenres}]]*/ 'genres';

    console.log("Found genres: ");
    console.log(genres);
    console.log("Found subgenres: ");
    console.log(subgenres);

    function filtersubgenre() {
        var selectedGenreId =  $("select#genre").children("option:selected").val();
        console.log("Selected genre: " + selectedGenreId);

        $('#subgenre').find('option').not(':first').remove();

        for (let o=0; o<subgenres.length; o++) {
            var subgenreId = subgenres[o].mainGenre.genreId;

            if (subgenreId == selectedGenreId) {
                console.log("Main genre matched with these subgenres: " + subgenres[o].subgenreName);
                $('#subgenre').append($('<option></option>').val(subgenres[o].subgenreId).html(subgenres[o].subgenreName));
            }
        }
    }

    $("select#genre").change(filtersubgenre);

    /*]]>*/

</script>
</html>