<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Song app</title>

    <link rel="stylesheet" type="text/css" href="/css/globalstyles.css/"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Song database app</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Session information-->
            <h6 style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px" sec:authorize="isAuthenticated()"
                th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</h6>
            <form method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Sign out
                </button>
            </form>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/index">Home page</a>
            <a class="mdl-navigation__link" href="/genrelist">Genres</a>
            <a class="mdl-navigation__link" href="/songlist">Songs</a>
            <a style="color: orangered" sec:authorize="hasAuthority('ADMIN')" class="mdl-navigation__link"
               href="/sessionlist">User sessions (Admin only)</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">

                <div class="mdl-cell mdl-cell--2-col graybox"></div>

                <div style="margin-top: 70px" class="mdl-cell mdl-cell--3-col graybox">

                    <h3>Welcome to the song repository app</h3>

                    <p>Here your can suggest and categorize music <br>
                        that you would like for me (@henettaja) to listen to.</p>
                    <p>On the genre page you can create and delete subgenres
                        so you can categorize the songs you add.
                        On the songs page you can edit and delete current titles
                        as well as create new ones</p>
                    <p>You can navigate to different parts of the application through the drawer menu that you can
                        open from the top-left corner. To make edits to the database you have to sign-in</p>

                    <a id="button" href="/genrelist"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Genres</a>

                    <a id="button" href="/songlist"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Songs</a>

                </div>

                <div class="mdl-cell mdl-cell--2-col graybox"></div>

                <div style="margin-top: 145px" class="mdl-cell mdl-cell--3-col graybox">

                    <div class="demo-card-wide mdl-card mdl-shadow--8dp card-me">
                        <div align="center">
                            <h3 align="center">Sign up</h3>

                            <form th:object="${signupform}" th:action="@{/saveuser}" action="#"
                                  method="post">

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input th:field="*{username}" class="mdl-textfield__input" type="text" id="username"
                                           name="username">
                                    <label class="mdl-textfield__label" for="username">Username</label>
                                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
                                        error</div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input th:field="*{password}" class="mdl-textfield__input" type="password"
                                           id="password" name="password">
                                    <label class="mdl-textfield__label" for="password">Password</label>
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                                        error</div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input th:field="*{passwordCheck}" class="mdl-textfield__input" type="password"
                                           id="passwordCheck" name="password">
                                    <label class="mdl-textfield__label" for="passwordCheck">Type password again</label>
                                    <div th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">
                                        Password
                                        match error</div>
                                </div>
                                <button id="button" type="submit"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                        name="signup-submit">Sign up</button>
                            </form>

                            <a style="margin-bottom: 20px" id="button"
                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                               name="cancel"
                               href="/index">
                                Cancel
                            </a>

                        </div>

                    </div>

                    <div class="mdl-cell mdl-cell--2-col graybox"></div>

                </div>
    </main>
</div>

</body>
</html>