<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All songs</title>

    <link rel="stylesheet" href="/globalstyles.css/"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

    <div id="wrapper">

        <h3>All songs</h3>

        <table class="list">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Subgenre</th>
                    <th>Genre</th>
                    <th colspan="2" style="text-align: center">Actions</th>
                </tr>
            </thead>

            <tr th:each=" Song : ${songList}">
                <td th:text="${Song.name}"></td>
                <td th:text="${Song.artist}"></td>
                <td th:text="${Song.album}"></td>
                <td th:text="${Song.subgenre}"></td>
                <td th:text="${Song.genre}"></td>
                <td><a th:href="@{/editsong/{id}(id=${Song.songId})}">Edit</a></td>
                <td><a th:href="@{/deletesong/{id}(id=${Song.songId})}">Delete</a></td>
            </tr>
        </table>

        <a href="/addsong">Add a title</a>

    </div>

</body>
</html>